<div class="row">
  <div class="col-md-12">
    <h1 style="text-align:center">
      My Bookstore
    </h1>
  </div>
  <div class="row">
    {{#each alphaSeq}}
      <div style="text-align:center" class="col-md-3">
        <!-- <a href="/search/{{this}}"> -->
        <form action="/search" method="get">
          <button type="submit" name="alpha" value="{{this}}" style="width:60%; border:solid 1px" class="btn btn-lg btn-light">{{this}}</button>
        </form>
        <!-- </a> -->
      </div>
    {{/each}}
  </div>
</div>
